.App {
  text-align: center;
}

html {
  /* background-image: url(https://flipanim.com/gif/b/3/b3sWoiKL.gif); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.login {
  max-height: 30vh;
  position: relative;
  
}

.login-image {  
  margin-left: 60%;
  display: block;
  transform: scaleX(-1);
  position: absolute;
  top: 2vh;
  right: 25vw;
  width:200px; /* you can use % */
  height: auto;
}

.login-popup {
  margin-left: 60%;
  display: block;
  position: absolute;
  bottom: 10vh;
  right: 35vw;
  width:300px; /* you can use % */
  height: auto;
}

.auth-image {
  margin-left: 60%;
  display: block;
  position: absolute;
  top: 10vh;
  right: 60vw;
  width:200px; /* you can use % */
  height: auto;
}

.auth-popup {
  margin-left: 60%;
  display: block;
  position: absolute;
  bottom: 20vh;
  right: 45vw;
  width:300px; /* you can use % */
  height: auto;
}

.navbar {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: aqua;
}

.form {
  text-align: center;
}

.mainhead {
  text-align: center;
  color: #50b147;
  -webkit-text-stroke: 2px black;
  padding-top: 10px;
}

.main-container {
  min-height: 100vh;
  position: static;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/da033e72-0c02-4f60-a051-5fbf5205e7e8/d2uos3h-3779b31a-2af6-4b2f-bdb8-8f41e22053d1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RhMDMzZTcyLTBjMDItNGY2MC1hMDUxLTVmYmY1MjA1ZTdlOFwvZDJ1b3MzaC0zNzc5YjMxYS0yYWY2LTRiMmYtYmRiOC04ZjQxZTIyMDUzZDEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.vWvuI0GevMKrTUD9FpsiHgv-A-GmmBPlNIqq6qbJVwg"); 
  /* background-attachment: scroll; */
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: 0vw -60vh;
  
}

.bubble-text {
  color: black;
}

.nav-bar {
  align-items: center;
}

.add-doctor {
  min-height: 100vh;
  position: static;
  background-image: url("https://i.gifer.com/5Kcu.gif"); 
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -60vh;
}

.add-doctor-container {
  width: fit-content;
  block-size: fit-content;
  color: #50b147;
}

.new-medication {
  min-height: 100vh;
  position: static;
  background-image: url("https://cdn.wallpapersafari.com/80/71/JKChO6.gif"); 
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: 0px -40vh;
}

.new-med-sub-container {
  overflow: auto;
  min-height: 100vh;
  max-width: fit-content;
  position: relative;
  left: 150px;
  top: 5px;
  border:5px black solid; 
  border-radius: 210px 210px 5px 5px;
  background-color: #33972a;
  opacity: 1;
  background-image: linear-gradient(-45deg, #50b147, #2a7723 50%, #58be66 50%, #7dbd86);
  background-size: 25px 25px;

}

.med-form {
  padding: 20px;
  margin-top: 300px ;

}

.med-form1 {
  justify-content: center;

}

.form-text {
  color: #000000;
  padding: 2px;
  background-color: #50b147;
}

.med-form2 {
  border: black solid;
  padding: 20px;
  border-radius: 16px;
  position: absolute;
  top: 500px;
  right: 200px;
  background: rgb(247,247,236);
  background: linear-gradient(90deg, rgba(247,247,236,1) 0%, rgb(250, 248, 136) 6%, rgb(255, 246, 115) 7%, rgba(249, 239, 101, 0.904) 93%, rgba(173,184,51,1) 100%);
}

.submit-button {
  color:rgba(240, 248, 255, 0.76);
  border: rgba(0, 0, 0, 0.692) solid;
  padding: 20px;
  border-radius: 16px;
  position: absolute;
  top: 450px;
  right: 1000px;
  text-align: center;
  font-size: 18px;
  background: rgb(245,211,161);
  background: linear-gradient(90deg, rgba(245,211,161,0.9206057422969187) 1%, rgb(238, 158, 74) 5%, rgb(247, 168, 100) 95%, rgba(158, 148, 9, 0.692) 99%);
}

.remove-button {
  padding: 10px;
  margin: 5px;
  border-radius: 16px;
  position: relative;

  background-color: #c51d29;
  opacity: 0.8;
}

.edit-profile-container {
  background-image: url("https://giffiles.alphacoders.com/116/11669.gif"); 
  min-height: 100vh;
  position: static;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: 0px -60vh;

}

.medication-container {
  flex-grow: 1;
}

.doctor-container {
  flex-grow: 1;
}
.med-doc-container {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  align-items: center;
}

.text-balloon {
  position: relative;
  overflow: hidden;
  display: block;
}

.text-balloon span::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

/* .text-balloon span::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.text-balloon span:nth-of-type(1)::before,
.text-balloon span:nth-of-type(1)::after{
  animation-delay: 1s;
}

@keyframes a-ltr-after{
  0% {transform: translateX(-100%)}
  100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
} */
