.App {
  text-align: center;
}

html {
  /* background-image: url(https://flipanim.com/gif/b/3/b3sWoiKL.gif); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.form {
  text-align: center;
}

.mainhead {
  text-align: center;
}